.game{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    padding: 70px 200px;
    gap: 2px solid black;
    width: 560px;
    height: 560px;
}



.black{
    background-color: black;
}

.white{
    background-color: grey;
}