.game{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    padding: 70px 200px;
    width: 560px;
    height: 560px;
}

.block{
    border: 1px solid black;
}

.black{
    background-color: rgb(255, 178, 102);
    color: white;
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    text-align: center; 
    border: 1px solid black;  
}

img.black_king{
    padding-top: 7px;
}


img.white_queen{
    padding-top: 7px;
}

img.black_queen{
    padding-top: 7px;
}

img.white_horse{
    padding-top: 9px;
}

.black_paw{
    width: 45px;
    padding-top: 7px;
}

.black_top{
    width: 45px;
    padding-top: 7px;
}

.white_top{
    width: 45px;
    padding-top: 9px;
}

.white_paw{
    width: 45px;
    padding-top: 10px;
}

img{
    width: 60px;
    height: auto;
    padding-top: 4px;
}

.white{
    background-color: rgb(255, 229, 204);
    color: white;
    
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    text-align: center;
    border: 1px solid black;
}


.green{
    color: white;
    
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    text-align: center;
    background-color: rgb(155, 255, 204);
    border: 1px solid black;
}
